<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ author.fullName }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">id : {{ author.id }}</h6>
        <p class="card-text">
            <span class="badge bg-{{ author.enabled ? 'success' : 'danger' }}">
                {{ author.enabled ? 'Activé' : 'Désactivé' }}
            </span>
        </p>
        <p class="card-text">Biographie : {{ author.biography }}</p>
        <p class="card-text">Date de naissance : {{ author.birthDate|format_datetime('full', 'none') }} ({{ author.age }} ans)</p>
        <p class="card-text">Origine : {{ author.origin }}</p>
        <p class="card-text">Publié le {{ author.createdAt|format_datetime('full', 'short') }}</p>
        <p class="card-text">Modifié le {{ author.updatedAt|format_datetime('full', 'short') }}</p>
        <div class="d-flex gap-2">
            {% if full == false %}
                <a href="{{ path('app.authors.show', { 'id': author.id }) }}" class="btn btn-primary">Détails</a>
            {% endif %}
            <a href="{{ path('app.authors.edit', { 'id': author.id }) }}" class="btn btn-warning">Modifier</a>
            {% include('frontend/author/_deleteForm.html.twig') %}
        </div>
    </div>
</div>